<h2>Administration Services</h2>

<h3>Telephone Messaging</h3>

<p>Never miss a call again! If you are out on site you may not hear the phone ring, using my telephone answering service ensures
  this will not happen.
</p>

<p>Customers still prefer human interaction, and providing that personal touch works. If you are a small but budding business,
  a call answering service can give that professional facade without the overhead costs of a full time office based personal
  secretary.
</p>

<p>The service will operate 365 days a year and messages relayed promptly. There are no set up fees, just simple steps to follow
  to divert the telephone, giving you control of when you want to use the service.
</p>

<p>The standard rate will be 90p per minute of answering service time and the `when` and `how` you receive your messages will
  be your choice. There is a standard form for calls should you choose to use it.
</p>

<p>Calls of high importance, such as new business, can be forwarded if necessary, immediately. Should you require the booking
  of appointments, this can be added to the service for an additional 50p per appointment;a small cost for what could potentially
  be a valuable sale.
</p>

<h3>Email/Letter Writing</h3>

<p>Businesses use email and letter writing for various reasons, and if you do not have the resources or time to do this, you
  could miss out on opportunities which enhance and grow your business.
</p>

<p>Email communication, whilst vital to your business, is often an area which can frustrate and overwhelm us; whether it`s taking
  the time to compile a comprehensive email or simply sifting through the massive amount of spam messages we receive on a
  daily basis.
</p>

<p>My service aims to ease the burden of just that!</p>

<p>All email and letter services will be tailored to meet the individual client needs. The turnaround for emails and letters
  is relatively quick and urgent requests shall be accommodated. Whilst proof checked for grammar, you will always be given
  the opportunity to revise before sending. The work is ghost-written i.e. all rights are transferred to you.</p>

<p>Due to the nature of emails or letters, each job is costed individually, time dependant.</p>

<p>Below is a specific list of email types currently available.
</p>

<ul>
  <li>Business Emails</li>
  <li>Career Emails</li>
  <li>Complaint Emails</li>
  <li>Custom Emails</li>
  <li>Email Campaigns</li>
  <li>Email Editing</li>
  <li>Formal Emails</li>
  <li>Introductory Emails</li>
  <li>Personal Emails</li>
  <li>Sales Emails</li>
</ul>

<app-form></app-form>