h2 {
  text-align: center;
  font-family: 'Vollkorn SC', serif;
  padding: 1% 0;
}

p {
  font-size: 25px;
  font-family: 'Oswald', sans-serif;
  text-align: center;
}

.content-container {
  width: 100%;
  text-align: center;
}

#email-link {
   text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

#linkedin {
  text-shadow:
   -1px -1px 0 #000,  
    1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}


