header {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
  text-align: center;
  height: 60px;
}

.header-spacer {
  height: 60px;
}

ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

li {
  list-style: none;
}

h1 {
    font-family: 'Vollkorn SC', serif;
}