#kat-pic {
  width: 50%;
  height: 50%;
  transition: 1s all;
  transition-delay: 0.5s;
}

#kat-pic:hover {
  transform: scale(1.2);
  transition: 1s all;
}

h2 {
  text-align: center;
 
}

h2,
h3 {
  font-family: 'Vollkorn SC', serif;
   text-decoration: underline;
   padding: 1% 0;
}

p {
  font-family: 'Oswald', sans-serif;
}

.about-img {
  display: flex;
  justify-content: center;
  align-content: center;
  padding: 5% 0;
}


