<h2>About Me!</h2>

<div class="about-img">
<img id='kat-pic' src="../../../assets/katpic.jpeg" alt="katpic">
</div>
<p>Thank you for visiting my website! I hope it is a pleasant and informative experience, and that you will progress to use
  my services.</p>
<br>
<p>My name is Katrina Kelly and I am a full-time freelance Virtual Assistant who specializes in easing the burden of Business
  and Administration processes whether you are a sole proprietor, small or large business, or even an individual requiring
  assistance.
</p>
<br>
<p>I have been in the field for 32 years, and so have a great and wide knowledge paired with experience for all Business needs.
</p>
<br>
<p>Born in the heart of Glasgow in 1965, I have experienced the highs and lows of various Industries, always adaptable to their
  ever-changing Business climates. I have also spent some time with studies at both Strathclyde and Paisley University.
</p>
<br>
<p>If you want to find out more about my professional experience, please feel free to request access to my c.v. by leaving a
  message for me in the email box below.
</p>
<br>
<p>Thanks Again!</p>

<app-form></app-form>
