#kat-pic {
  width: 30%;
  height: 30%;
}

h2 {
  text-align: center;
 
}

h2,
h3 {
  font-family: 'Vollkorn SC', serif;
   text-decoration: underline;
   padding: 1% 0;
}

p {
  font-family: 'Oswald', sans-serif;
}


