<h2>Finance</h2>

<h3>Vat Returns</h3>

<p>If you are buying or selling goods then you are trading and you should be registered either as a sole trader or a company.
  Either way, it is important to always keep good records of sales and purchases. This area of the business is necessary
  and anyone trading could be subjected to an HMRC enquiry. Failing to keep good records and submit timely tax returns could
  lead to large penalties.</p>
  <br>
<p>There could still be a very good reason to register for VAT even if you don't meet the threshold or buy lots of goods - some
  people believe having a VAT number adds a certain credibility and prestige to their company, also some clients will only
  work with other VAT registered suppliers.
</p>
<br>
<p>VAT returns are usually done every quarter and having someone to carry out this task could free up your already limited time
  and help ease the burden. That`s where I can assist! Prices are dependent on volume and can range from ₤ 70 upwards per
  quarter. Please feel free to contact me for further discussion.
</p>
<br>

<h3>CIS Returns</h3>
<p>Under the Construction Industry Scheme ( CIS ), contractors deduct money from a subcontractor's payments and pass it to HM
  Revenue and Customs ( HMRC ). The deductions count as advance payments towards the subcontractor's tax and National Insurance.
  Contractors must register for the scheme. Subcontractors do not have to register, but deductions are taken from their payments
  at a higher rate (currently 30%) if they are not registered.
</p>
<br>
<p>Contractors must submit a return every month and give subcontractors a monthly statement of payments and deductions. Subcontractors
  need to then calculate whether or not they still owe tax and national insurance.
</p>
<br>
<p>Need help with this??? It`s been my experience that many CIS contractors and subcontactors would rather get on with their
  day to day business and leave the hastle of tax to someone they trust.
</p>
<br>
<p>My rates are very reasonable and my service is excellent ensuring a quick turnaround. Only when you`re happy with the result
  will I ask you to pay the bill! You can contact me by email, telephone, or post its up to you.
</p>
<br>
<h3>Sales Ledger</h3>

<p>The Sales Ledger is your record of sales, and whether or not you have received the money, and how much you are still owed.
</p>
<br>
<p>Whilst it is a legal requirement to keep records of this nature, there are three types of transactions which will give you
  an immediate calculation of the money owed to you. These are namely, sales invoices, sales credit notes, and payments received.
</p>
<br>
<p>It seems straight forward enough, but when it comes to business, time is money, and can you afford to be spending it checking
  invoices for accuracy, dealing with customer enquiries or chasing up outstanding debts or even just keeping a record of
  sales, when you are needed to support the ongoing and every growing business?
</p>
<br>
<p>If you neglect this function, your cash flow may suffer and your business may be at risk. Meet your Virtual Assistant, who
  is more than happy to provide these functions and ease that burden! Having 32 years experience in the finance industry
  has its benefits, knowledge is power, time is money, and Katrina Kelly Virtual Assistant is less stress!
</p>
<br>
<h3>Purchase Ledger</h3>

<p>The Purchase Ledger is your record of your purchases and expenses, whether or not you have paid them and how much you still
  owe. By recording purchase invoices, purchase credits and payments made, you will get an immediate calculation of how much
  money you owe to other people and businesses. It also helps to account for any VAT that the business could claim back if
  it is VAT registered.
</p>
<br>
<p>Checking purchase invoices for accuracy could make a great deal of difference to your business. In my last post about 10%
  of the invoices I processed, contained inaccurate overcharges and errors.
</p>
<br>
<p>Regardless of a company’s size, the mission for any accounts payable assistant is to pay only those invoices which are legitimate
  and accurate.
</p>
<br>
<p>The purchase ledger process can often become a bottleneck for any organisation, where manual processes prove to be slow,
  costly and distract you from the more imminent business requirements.
</p>
<br>
<p>Having someone to outsource to conduct this process, effectively and efficiently, can save you time and money. With years
  of experience and education behind me, I have a keen eye for accuracy and can assist in freeing up your time to do more
  pressing business tasks.
</p>
<br>
<p>All of the above services will be individually priced and dependent on volume and time spent. My rates are very reasonable
  and work of high quality. Should you require further assistance please contact me. My contact details can be found on my
  `Contact` section of my website.</p>

  <app-form></app-form>